.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo{
  float: right;
}

header{
  position: fixed; /*hace que el menu este fijo*/
  background: white;
  width: 100%;
  top: 0;
}

.menu{
  padding: 14px 70px;
  overflow: auto;
}

#home{
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /*cubre el tamano del contenedor*/
  height: 554px;
  text-align: center;
  margin-top: 80px;
}
  #home .container{
    color: white;
    padding: 70px;
  }

.text-home{
  font-size: 53px;
}

.btn-home{
  background: #2ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase; /*convierte el texto a mayusculas*/
  margin-top: 63px;
  display: inline-block;
  font-style: 14px;
}

#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}

.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}

.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}
